if !title
    title = "Default title"
title #{title}

block css
    //Stylesheets
    link(rel="stylesheet", type="text/css", href="/css/reset.css")
    link(rel="stylesheet", type="text/css", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css")
    link(rel="stylesheet", type="text/css", href="/css/jquery.miniColors.css")
    link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
    link(rel="stylesheet", type="text/css", href="/css/font-awesome-ie7.css")
    link(rel="stylesheet", type="text/css", href="/css/main.css")
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Josefin Sans:100,300,400,700")
block js
    //Javascript
    if typeof(jsvars) !== "undefined"
        //This is a bit kludgey but seems to be the only way to pass variables to the client
        | !{"<script type='text/javascript'>"}
        | window.BOXY = window.BOXY || {};
        - for (var key in jsvars)
            | BOXY['!{key}'] = !{JSON.stringify(jsvars[key])};  
        | !{"</script>"}
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
    script(type="text/javascript", src="/js/jquery.masonry.min.js")
    script(type="text/javascript", src="/js/jquery.miniColors.js")
    script(type="text/javascript", src="/js/mailcheck.min.js")
    script(type="text/javascript", src="/js/underscore-min.js")
    script(type="text/javascript", src="/js/json3.min.js")
    script(type="text/javascript", src="/js/backbone-min.js")
    script(type="text/javascript", src="/js/application.js")
